/*       start  variables   */
@import "V&M.scss";
/*       end  variables   */

@media (max-width: 767px){
    
    /*    start uo-home    */
    .uo-home{
        h1{
            font-size: 30px;
        }
        h2{
            font-size: 18px;
        }
    }
    /*    end uo-home    */
    
    /*    start uo-about    */
    .uo-about{
        .uo-holder{
            .uo-imgs{
                width: 180px;
                height: 180px;
            }
        }
        
    }
    /*   end uo-about      */
    
    
    /*   start uo-latestProject      */
    .uo-latestProject{
        .uo-mockup.uo-cat1{
            @include transformScale(.9,.9);
        }
    }
    /*   end uo-latestProject      */
}

@media (max-width: 991px)
{
    /*    start uo-nav    */
    .uo-nav{
        
        ;
        .uo-menu-icon{
            float: left;
        }
        .uo-colors-icon{
            height: 32px;
            width: 32px;
        }
        &.uo-open{
            ;
            .uo-menu{
                left: 0;
                ul{
                    li{
                        left: 0;
                    }
                }
            }
        }
        .uo-menu{
            position: fixed;
            top: 0;
            bottom: 0;
            left: -80%;            
            width: 80%;
            padding-top: 70px;
            background-color: $black;
            z-index: -1;
            overflow: hidden;
            ;
            ul{
                &:first-child{
                    border-bottom: 1px solid $darkWhite;
                }
                li{
                    display: block;
                    padding: 5px 10px;
                    position: relative;
                    left: -100%;
                }
            }
        }
    }
    /*    end uo-nav    */
    
    /*    start uo-about    */
    .uo-about{
        display: block;
        .uo-info{
            h3{
                color: $lightBlack;
            }
        }
        .uo-holder{
            .uo-imgs{
                margin-left: auto;
                margin-right: auto;
            }
        }
        
    }
    /*   end uo-about      */
    
    
    /* start uo-contact   */
    .uo-contact{
        .uo-follows{
            padding: 15px;
        }
        .uo-cont{
            padding: 15px;
        }
    }
    /* end uo-contact   */
    
}